
nav{
  width:100%;
  position: fixed;
  top:0;
  font-size: 1.7em;
  display: flex;
  justify-content: space-between;
  background:gray;
  height:60px;
}
.nav-list{
  list-style: none;
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
}
.side-nav{
  display:flex;
  width:60%;
  list-style: none;
  gap:200px;
}
.mobile-nav{
  display:none;
}
@media (max-width:600px){
  .side-nav{
    display:none;

  }
  .mobile-nav{
    display: inline-block;
    margin:0 1em;
}
}