#token {
  background-color: black;
  text-align: center;
  h2 {
    color: white;
    font-size: $h2;
    padding: 0.4em;
    font-family: "robotoregular";
  }
  .token_utilities {
    width: 100%;
    margin: 5% auto;
    display: flex;
    display: flex;
    @media (min-width: 420px) {
      width: 100%;
      margin: 0% auto;
    }
    @media (min-width: $bp-tablet) {
      width: 100%;
      margin: 0% auto;
    }
    @media (min-width: 1300px) {
      width: 100%;
    }
    @media (min-width: 1640px) {
      width: 100%;
    }
    img {
      margin: 0 auto;
    }
  }
}
